.face {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  position: relative;
  border-radius: 999px;
  margin: 30vh auto auto;

  .eyes {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    width: 55%;
    justify-content: space-around;
    border-radius: 5px;
    margin: 30% auto auto;

    .eyelid {
      position: absolute;
      width: 100px;
      height: 45px;
      background-color: midnightblue;
      //border: 1px solid white;
      top: -43px;
      z-index: 4;
      animation: blink 4.5s infinite ease-in alternate;
      animation-delay: 0.5s;
    }

    @keyframes blink {
      0% {
        top: -45px;
      }
      95% {
        top: -45px;
      }
      100% {
        top: 0;
      }
    }

    .eye {
      width: 40px;
      height: 40px;
      //border: 2px solid white;
      background-color: blue;
      border-radius: 999px;

      .pupil {
        width: 8px;
        height: 8px;
        background-color: white;
        border-radius: 999px;
        margin: 55% auto auto;
      }

    }
  }

  .mouth {
    width: 45%;
    height: 6px;
    background-color: white;
    margin: 70% auto auto;

  }

}

.container {
  background-color: midnightblue;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
